@font-face {
	font-family: 'CMU Serif';
	src: url('../static/fonts/CMUSerif-Roman.eot');
	src: url('../static/fonts/CMUSerif-Roman.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/CMUSerif-Roman.woff') format('woff'),
		url('../static/fonts/CMUSerif-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CMU Serif';
	src: url('../static/fonts/CMUSerif-Italic.eot');
	src: url('../static/fonts/CMUSerif-Italic.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/CMUSerif-Italic.woff') format('woff'),
		url('../static/fonts/CMUSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../static/fonts/Theinhardt-Bd.eot');
	src: url('../static/fonts/Theinhardt-Bd.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/Theinhardt-Bd.woff') format('woff'),
		url('../static/fonts/Theinhardt-Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../static/fonts/Theinhardt-Rg.eot');
	src: url('../static/fonts/Theinhardt-Rg.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/Theinhardt-Rg.woff') format('woff'),
		url('../static/fonts/Theinhardt-Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../static/fonts/Theinhardt-Lt.eot');
	src: url('../static/fonts/Theinhardt-Lt.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/Theinhardt-Lt.woff') format('woff'),
		url('../static/fonts/Theinhardt-Lt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Theinhardt';
	src: url('../static/fonts/Theinhardt-LtIt.eot');
	src: url('../static/fonts/Theinhardt-LtIt.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/Theinhardt-LtIt.woff') format('woff'),
		url('../static/fonts/Theinhardt-LtIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'YoungSerif';
	src: url('../static/fonts/YoungSerif-Regular.eot');
	src: url('../static/fonts/YoungSerif-Regular.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/YoungSerif-Regular.woff') format('woff'),
		url('../static/fonts/YoungSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
