// HEADER

#header-tagline
  font-size: 15px

// ABOUT

#about-galleries
  h3
    font-size: $font-size-mid

#mailing-list-holder

  .mc-field-group
    label
      font-size: $font-size-mid
    input
      font-size: $font-size-mid

    input.button
      font-size: $font-size-mid
