$header-height= 69px

// HEADER

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

#mailing-list-holder
  #mc_embed_signup
    .mc-field-group
      label
        flex: 0 1 30%
      input
        width: auto
        max-width: auto
        flex: 1 0 auto

#header-tagline
  font-size: 14px
