$header-height= 69px

// HEADER

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

#mailing-list-holder
  .mc-field-group
    label
      flex: 0 1 30%
    input
      flex: 1 0 auto
