$header-height= 46px

// HEADER

#header
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, .6)
  z-index: 1000

#nav-list li:first-child
  margin-right: $margin-basic

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

// ABOUT

#about-galleries
  h3
    font-size: $font-size-basic
