$header-height= 50px

.ratio-image
  width: auto

// HEADER

#header
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, .6)
  z-index: 1000

#nav-list li:first-child
  margin-right: $margin-basic

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

// EXHIBITION

.masonry-item
  width: 100%
  padding: 0 $margin-tiny

.limit-paragraph
  p
    max-width: 400px

// ABOUT

#about-galleries
  h3
    font-size: $font-size-basic

svg.jump-arrow
  height: 14px

svg.social-icon
  height: 16px

#about-social
  span
    display: inline-block
    margin-right: $margin-small

#mailing-list-holder
  padding: $margin-small $margin-basic $margin-large
  border: 1px solid
  text-align: center

  #mc_embed_signup
    background: transparent
    h2
      display: none
    .button:hover
      background: transparent
    #mc-embedded-subscribe-form
      div.mce_inline_error
        margin: $margin-micro 0 0 0
        background: transparent
        flex-basis: 100%
        text-align: right
      input.mce_inline_error
        border-width: 1px
    div.response
      text-align: center
      width: 100%
      font-weight: 300

  .indicates-required
    display: none

  .mc-field-group
    display: flex
    flex-wrap: wrap
    padding: $margin-small 0
    label,
    input
      margin-bottom: $margin-micro
    label
      flex: 0 1 100%
      font-size: $font-size-mid
      text-align: left
      .asterisk
        display: none
    input
      background: transparent
      border: 0
      border-bottom: 1px solid
      flex: 0 1 100%
      font-size: $font-size-mid
      padding: $margin-micro 0
      border-radius: 0

  input.button
    appearance: none
    background: transparent
    font-size: $font-size-mid
    border: 0
    font-weight: bold
    cursor: pointer
    margin-top: $margin-tiny

  .clear
    text-align: center
