$header-height= 75px

// HEADER

#nav-list li:first-child
  margin-right: $margin-basic

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

#header-tagline
  font-size: 13px

// EXHIBITION

.masonry-item
  padding: 0 $margin-tiny

.limit-paragraph
  p
    max-width: 500px

// ABOUT

#about-galleries
  .grid-item
    flex-basis: 20%
    max-width: 20%
  h3
    font-size: $font-size-mid

#mailing-list-holder
  padding: $margin-small $margin-basic $margin-large

  .mc-field-group
    padding: $margin-small 0
    label,
    input
      margin-bottom: $margin-micro
    input
      padding: $margin-micro 0
    div.mce_inline_error
      margin: $margin-micro 0 0 0

  input.button
    font-size: $font-size-mid
    margin-top: $margin-tiny

#map-holder
  min-height: 450px
  iframe
    width: calc('100% - ' + $margin-small)
