$header-height= 50px

// HEADER

#nav-list li:first-child
  margin-right: $margin-basic

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

// EXHIBITION

.masonry-item
  width: 50%
  padding: 0 $margin-tiny
