$header-height= 75px

// HEADER

#nav-list li:first-child
  margin-right: $margin-basic

#main-content
  padding-bottom: $header-height * 2

.post-type-archive-exhibition
  #main-content
    padding-bottom: $header-height

// ABOUT

#about-galleries
  .grid-item
    flex-basis: 20%
    max-width: 20%
  h3
    font-size: $font-size-mid
